* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f5f5f5;
}

header {
    background: #3e2723;
    color: white;
    padding: 20px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    padding: 100px;
    background: #efebe9; 
}

footer {
    background: #3e2723;
    color: white;
    padding: 10px;
}

/* Mobil Uyum */
@media (max-width: 600px) {
    .hero {
        padding: 40px;
    }
}

.hero img {
    border-radius: 10px;
    margin-bottom: 20px;
}

section {
    padding: 40px;
}

form input, form textarea {
    width: 80%;
    padding: 10px;
    margin: 5px;
    
}

button {
    padding: 10px 20px;
    background: #3e2723;
    color: white;
    border: none;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c1810;
    padding: 20px 50px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #c7a17a;
}

.hero {
    height: 80vh;
    background: url('images/cafe.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-text h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    background-color: #c7a17a;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #a87f58;
}

